body {
    background: #f0f0f0;
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    width: 300px;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
    text-align: center;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 6px;
    border: 1px solid #aaa;
}

button {
    width: 95%;
    padding: 10px;
    background: #409eff;
    border: none;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #66b1ff;
}

.error {
    color: red;
    margin-top: 10px;
}
